/* set up */

body {
    background-color: gray;
    display: flex;
    flex-direction: column;
}

h1 {
    position: absolute;
    left: 50vw;
    top: 23vh;
    transform: translate(-50%, 0);
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 2rem;
}

.button {
    position: absolute;

    border: none;
    color: white;
    border-radius: 5px;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    box-shadow: 0 2px 6px 0 rgba(0, 0, 0, 0.24), 0 2px 5px 0 rgba(0, 0, 0, 0.19);
    width: 6rem;
    height: 3rem;
}

#yes-button {
    left: 40vw;
    transform: translate(-50%, 0);
    top: 40vh;
    background-color: #4caf50; /* Green */
}

#no-button {
    left: 60vw;
    top: 40vh;
    transform: translate(-50%, 0);
    background-color: #f44336; /* Red */
}

#yes-button:hover {
    background-color: #45a049;
}
